@charset "utf-8";
@import "bulma-0.9.0/bulma.sass";

$box-radius: 200px;

.semi-header{
    font-size: 80%;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}

.semi-header::after{
    display: block;
    content: "____";
}